ComplianceAuditWeb/Connected Services/AuditService/AuditService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56172/AuditService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="insertComplianceAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="auditdatalist" nillable="true" type="q1:ArrayOfComplianceAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertComplianceAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertComplianceAuditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAuditEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="auditdata" nillable="true" type="q2:ComplianceAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertAuditEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertAuditEntriesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateComplianceAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="auditdatalist" nillable="true" type="q3:ArrayOfComplianceAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateComplianceAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateComplianceAuditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComplianceAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComplianceAuditID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComplianceAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getComplianceAuditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteComplianceAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComplianceAuditID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteComplianceAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteComplianceAuditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertComplianceAuditTrail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="auditdatalisttrail" nillable="true" type="q4:ArrayOfComplianceAuditAuditTrail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertComplianceAuditTrailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertComplianceAuditTrailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComplianceAuditTrail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComplianceAuditTrailID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComplianceAuditTrailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getComplianceAuditTrailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCompanyBrnachAssignedtoAuditor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuditorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCompanyBrnachAssignedtoAuditorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllCompanyBrnachAssignedtoAuditorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComplianceXref">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
        <xs:element minOccurs="0" name="compliancetypeid" type="xs:int" />
        <xs:element minOccurs="0" name="complianceparentid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComplianceXrefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getComplianceXrefResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificBranchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificBranchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSpecificBranchListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComplianceActList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
        <xs:element minOccurs="0" name="compliancetypeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComplianceActListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getComplianceActListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getcomplianceonorg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getcomplianceonorgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getcomplianceonorgResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>