ComplianceAuditWeb/Connected Services/AuditService/AuditService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Compliance.DataObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComplianceAudit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComplianceAudit" nillable="true" type="tns:ComplianceAudit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplianceAudit" nillable="true" type="tns:ArrayOfComplianceAudit" />
  <xs:complexType name="ComplianceAudit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Audit_ArteFacts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Audit_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Audit_Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Audit_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Auditor_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Company_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Compliance_Audit_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Compliance_Schedule_Instance" type="xs:int" />
      <xs:element minOccurs="0" name="Compliance_Xref_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Is_Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Last_Update_dDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Org_Hier_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Part_Compliance_Percent" type="xs:decimal" />
      <xs:element minOccurs="0" name="Penalty_nc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reviewer_Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reviewer_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplianceAudit" nillable="true" type="tns:ComplianceAudit" />
  <xs:complexType name="ArrayOfComplianceAuditAuditTrail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComplianceAuditAuditTrail" nillable="true" type="tns:ComplianceAuditAuditTrail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplianceAuditAuditTrail" nillable="true" type="tns:ArrayOfComplianceAuditAuditTrail" />
  <xs:complexType name="ComplianceAuditAuditTrail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Audit_ArteFacts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Audit_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Audit_Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Audit_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Auditor_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Compliance_Audit_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Compliance_Options_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Compliance_Schedule_Instance" type="xs:int" />
      <xs:element minOccurs="0" name="Compliance_Xref_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Is_Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Last_Update_dDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Org_Hier_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Penalty_nc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reviewer_Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reviewer_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplianceAuditAuditTrail" nillable="true" type="tns:ComplianceAuditAuditTrail" />
</xs:schema>