ComplianceAuditWeb/Connected Services/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56172/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56172/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56172/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" />
      <xsd:import schemaLocation="http://localhost:56172/UserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_insertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:insertUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getUserAssignedGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserAssignedGroup" />
  </wsdl:message>
  <wsdl:message name="IUserService_getUserAssignedGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserAssignedGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getUserRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_getUserRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:insertUserRole" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertRolePrivilege_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRolePrivilege" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertRolePrivilege_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRolePrivilegeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPrivilege_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivilege" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPrivilege_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivilegeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteRolePrivilege_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRolePrivilege" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteRolePrivilege_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRolePrivilegeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getRolePrivilege_InputMessage">
    <wsdl:part name="parameters" element="tns:getRolePrivilege" />
  </wsdl:message>
  <wsdl:message name="IUserService_getRolePrivilege_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRolePrivilegeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertUserGroupmember_InputMessage">
    <wsdl:part name="parameters" element="tns:insertUserGroupmember" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertUserGroupmember_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertUserGroupmemberResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:insertGroups" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:updateGroups" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroup" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserGroupMember_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserGroupMember" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserGroupMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserGroupMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRole" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_getmenulist_InputMessage">
    <wsdl:part name="parameters" element="tns:getmenulist" />
  </wsdl:message>
  <wsdl:message name="IUserService_getmenulist_OutputMessage">
    <wsdl:part name="parameters" element="tns:getmenulistResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="insertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/insertUser" message="tns:IUserService_insertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/insertUserResponse" message="tns:IUserService_insertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/updateUser" message="tns:IUserService_updateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/updateUserResponse" message="tns:IUserService_updateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getUser" message="tns:IUserService_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getUserResponse" message="tns:IUserService_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserAssignedGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getUserAssignedGroup" message="tns:IUserService_getUserAssignedGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getUserAssignedGroupResponse" message="tns:IUserService_getUserAssignedGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getUserRoles" message="tns:IUserService_getUserRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getUserRolesResponse" message="tns:IUserService_getUserRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/insertUserRole" message="tns:IUserService_insertUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/insertUserRoleResponse" message="tns:IUserService_insertUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/insertRoles" message="tns:IUserService_insertRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/insertRolesResponse" message="tns:IUserService_insertRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/updateRoles" message="tns:IUserService_updateRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/updateRolesResponse" message="tns:IUserService_updateRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetRoles" message="tns:IUserService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetRolesResponse" message="tns:IUserService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRolePrivilege">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/insertRolePrivilege" message="tns:IUserService_insertRolePrivilege_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/insertRolePrivilegeResponse" message="tns:IUserService_insertRolePrivilege_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivilege">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetPrivilege" message="tns:IUserService_GetPrivilege_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetPrivilegeResponse" message="tns:IUserService_GetPrivilege_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRolePrivilege">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteRolePrivilege" message="tns:IUserService_DeleteRolePrivilege_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteRolePrivilegeResponse" message="tns:IUserService_DeleteRolePrivilege_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRolePrivilege">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getRolePrivilege" message="tns:IUserService_getRolePrivilege_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getRolePrivilegeResponse" message="tns:IUserService_getRolePrivilege_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertUserGroupmember">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/insertUserGroupmember" message="tns:IUserService_insertUserGroupmember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/insertUserGroupmemberResponse" message="tns:IUserService_insertUserGroupmember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/insertGroups" message="tns:IUserService_insertGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/insertGroupsResponse" message="tns:IUserService_insertGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/updateGroups" message="tns:IUserService_updateGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/updateGroupsResponse" message="tns:IUserService_updateGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserGroup" message="tns:IUserService_GetUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserGroupResponse" message="tns:IUserService_GetUserGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGroupMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUserGroupMember" message="tns:IUserService_UpdateUserGroupMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserGroupMemberResponse" message="tns:IUserService_UpdateUserGroupMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUserRole" message="tns:IUserService_UpdateUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserRoleResponse" message="tns:IUserService_UpdateUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteGroup" message="tns:IUserService_DeleteGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteGroupResponse" message="tns:IUserService_DeleteGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteRole" message="tns:IUserService_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteRoleResponse" message="tns:IUserService_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Login" message="tns:IUserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginResponse" message="tns:IUserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getmenulist">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/getmenulist" message="tns:IUserService_getmenulist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/getmenulistResponse" message="tns:IUserService_getmenulist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/insertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/updateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAssignedGroup">
      <soap:operation soapAction="http://tempuri.org/IUserService/getUserAssignedGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserRoles">
      <soap:operation soapAction="http://tempuri.org/IUserService/getUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUserRole">
      <soap:operation soapAction="http://tempuri.org/IUserService/insertUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRoles">
      <soap:operation soapAction="http://tempuri.org/IUserService/insertRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRoles">
      <soap:operation soapAction="http://tempuri.org/IUserService/updateRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRolePrivilege">
      <soap:operation soapAction="http://tempuri.org/IUserService/insertRolePrivilege" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivilege">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetPrivilege" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRolePrivilege">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteRolePrivilege" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRolePrivilege">
      <soap:operation soapAction="http://tempuri.org/IUserService/getRolePrivilege" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUserGroupmember">
      <soap:operation soapAction="http://tempuri.org/IUserService/insertUserGroupmember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertGroups">
      <soap:operation soapAction="http://tempuri.org/IUserService/insertGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGroups">
      <soap:operation soapAction="http://tempuri.org/IUserService/updateGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroup">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGroupMember">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUserGroupMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRole">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getmenulist">
      <soap:operation soapAction="http://tempuri.org/IUserService/getmenulist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:56172/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>