ComplianceAuditWeb/Connected Services/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56172/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56172/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56172/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" />
      <xsd:import schemaLocation="http://localhost:56172/UserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_insertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:insertUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroup" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRoles" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertRolePrivilege_InputMessage">
    <wsdl:part name="parameters" element="tns:insertRolePrivilege" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertRolePrivilege_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertRolePrivilegeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPrivilege_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivilege" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPrivilege_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivilegeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:insertGroups" />
  </wsdl:message>
  <wsdl:message name="IUserService_insertGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:updateGroups" />
  </wsdl:message>
  <wsdl:message name="IUserService_updateGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateGroupsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="insertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/insertUser" message="tns:IUserService_insertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/insertUserResponse" message="tns:IUserService_insertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/updateUser" message="tns:IUserService_updateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/updateUserResponse" message="tns:IUserService_updateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserGroup" message="tns:IUserService_GetUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserGroupResponse" message="tns:IUserService_GetUserGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetRoles" message="tns:IUserService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetRolesResponse" message="tns:IUserService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/insertRoles" message="tns:IUserService_insertRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/insertRolesResponse" message="tns:IUserService_insertRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/updateRoles" message="tns:IUserService_updateRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/updateRolesResponse" message="tns:IUserService_updateRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertRolePrivilege">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/insertRolePrivilege" message="tns:IUserService_insertRolePrivilege_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/insertRolePrivilegeResponse" message="tns:IUserService_insertRolePrivilege_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivilege">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetPrivilege" message="tns:IUserService_GetPrivilege_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetPrivilegeResponse" message="tns:IUserService_GetPrivilege_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/insertGroups" message="tns:IUserService_insertGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/insertGroupsResponse" message="tns:IUserService_insertGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/updateGroups" message="tns:IUserService_updateGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/updateGroupsResponse" message="tns:IUserService_updateGroups_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/insertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/updateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroup">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRoles">
      <soap:operation soapAction="http://tempuri.org/IUserService/insertRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRoles">
      <soap:operation soapAction="http://tempuri.org/IUserService/updateRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRolePrivilege">
      <soap:operation soapAction="http://tempuri.org/IUserService/insertRolePrivilege" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivilege">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetPrivilege" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertGroups">
      <soap:operation soapAction="http://tempuri.org/IUserService/insertGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGroups">
      <soap:operation soapAction="http://tempuri.org/IUserService/updateGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:56172/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>