ComplianceAuditWeb/Connected Services/BranchLocationService/LocationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Compliance.DataObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Branch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" type="xs:int" />
      <xs:element minOccurs="0" name="Branch_Coordinates1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_Coordinates2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_CoordinatesURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Branch_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Country_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Postal_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Branch" nillable="true" type="tns:Branch" />
</xs:schema>