ComplianceAuditWeb/Connected Services/VendorService/VendorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VendorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56172/VendorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56172/VendorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56172/VendorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" />
      <xsd:import schemaLocation="http://localhost:56172/VendorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVendorService_insertVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:insertVendor" />
  </wsdl:message>
  <wsdl:message name="IVendorService_insertVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_updateVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:updateVendor" />
  </wsdl:message>
  <wsdl:message name="IVendorService_updateVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_insertVendorForBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:insertVendorForBranch" />
  </wsdl:message>
  <wsdl:message name="IVendorService_insertVendorForBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertVendorForBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_DeactivateVendorForCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateVendorForCompany" />
  </wsdl:message>
  <wsdl:message name="IVendorService_DeactivateVendorForCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateVendorForCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_ActivateVendorForCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateVendorForCompany" />
  </wsdl:message>
  <wsdl:message name="IVendorService_ActivateVendorForCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateVendorForCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_DeactivateVendorForBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateVendorForBranch" />
  </wsdl:message>
  <wsdl:message name="IVendorService_DeactivateVendorForBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateVendorForBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_ActivateVendorForBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateVendorForBranch" />
  </wsdl:message>
  <wsdl:message name="IVendorService_ActivateVendorForBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateVendorForBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_DeleteVendorForCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVendorForCompany" />
  </wsdl:message>
  <wsdl:message name="IVendorService_DeleteVendorForCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVendorForCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetAssignedVendorsforBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssignedVendorsforBranch" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetAssignedVendorsforBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssignedVendorsforBranchResponse" />
  </wsdl:message>
  <wsdl:portType name="IVendorService">
    <wsdl:operation name="insertVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/insertVendor" message="tns:IVendorService_insertVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/insertVendorResponse" message="tns:IVendorService_insertVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/updateVendor" message="tns:IVendorService_updateVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/updateVendorResponse" message="tns:IVendorService_updateVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertVendorForBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/insertVendorForBranch" message="tns:IVendorService_insertVendorForBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/insertVendorForBranchResponse" message="tns:IVendorService_insertVendorForBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateVendorForCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/DeactivateVendorForCompany" message="tns:IVendorService_DeactivateVendorForCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/DeactivateVendorForCompanyResponse" message="tns:IVendorService_DeactivateVendorForCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateVendorForCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/ActivateVendorForCompany" message="tns:IVendorService_ActivateVendorForCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/ActivateVendorForCompanyResponse" message="tns:IVendorService_ActivateVendorForCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateVendorForBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/DeactivateVendorForBranch" message="tns:IVendorService_DeactivateVendorForBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/DeactivateVendorForBranchResponse" message="tns:IVendorService_DeactivateVendorForBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateVendorForBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/ActivateVendorForBranch" message="tns:IVendorService_ActivateVendorForBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/ActivateVendorForBranchResponse" message="tns:IVendorService_ActivateVendorForBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVendorForCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/DeleteVendorForCompany" message="tns:IVendorService_DeleteVendorForCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/DeleteVendorForCompanyResponse" message="tns:IVendorService_DeleteVendorForCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssignedVendorsforBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/GetAssignedVendorsforBranch" message="tns:IVendorService_GetAssignedVendorsforBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/GetAssignedVendorsforBranchResponse" message="tns:IVendorService_GetAssignedVendorsforBranch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVendorService" type="tns:IVendorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertVendor">
      <soap:operation soapAction="http://tempuri.org/IVendorService/insertVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVendor">
      <soap:operation soapAction="http://tempuri.org/IVendorService/updateVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertVendorForBranch">
      <soap:operation soapAction="http://tempuri.org/IVendorService/insertVendorForBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateVendorForCompany">
      <soap:operation soapAction="http://tempuri.org/IVendorService/DeactivateVendorForCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateVendorForCompany">
      <soap:operation soapAction="http://tempuri.org/IVendorService/ActivateVendorForCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateVendorForBranch">
      <soap:operation soapAction="http://tempuri.org/IVendorService/DeactivateVendorForBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateVendorForBranch">
      <soap:operation soapAction="http://tempuri.org/IVendorService/ActivateVendorForBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVendorForCompany">
      <soap:operation soapAction="http://tempuri.org/IVendorService/DeleteVendorForCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignedVendorsforBranch">
      <soap:operation soapAction="http://tempuri.org/IVendorService/GetAssignedVendorsforBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendorService">
    <wsdl:port name="BasicHttpBinding_IVendorService" binding="tns:BasicHttpBinding_IVendorService">
      <soap:address location="http://localhost:56172/VendorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>