ComplianceAuditWeb/Connected Services/VendorService/VendorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56172/VendorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" />
  <xs:import schemaLocation="http://localhost:56172/VendorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="insertVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="vendor" nillable="true" type="q1:VendorMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertVendorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="vendor" nillable="true" type="q2:VendorMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateVendorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertVendorForBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VendorID" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="OrgCompanyID" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertVendorForBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertVendorForBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateVendorForCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateVendorForCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateVendorForCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateVendorForCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateVendorForCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateVendorForCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateVendorForBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorBranchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateVendorForBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateVendorForBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateVendorForBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorBranchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateVendorForBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateVendorForBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>