ComplianceAuditWeb/Connected Services/ComplianceXrefService/ComplianceXrefService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Compliance.DataObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplianceXref">
    <xs:sequence>
      <xs:element minOccurs="0" name="City_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Comp_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comp_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comp_Order" type="xs:int" />
      <xs:element minOccurs="0" name="Compliance_Parent_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Compliance_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Compliance_Xref_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Country_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Effective_End_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Effective_Start_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Form" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Is_Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Is_Best_Practice" type="xs:boolean" />
      <xs:element minOccurs="0" name="Is_Header" type="xs:boolean" />
      <xs:element minOccurs="0" name="Last_Updated_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Option_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Recurrence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Risk_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Risk_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
      <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplianceXref" nillable="true" type="tns:ComplianceXref" />
</xs:schema>