ComplianceAuditWeb/Connected Services/ComplianceXrefService/ComplianceXrefService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56172/ComplianceXrefService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" />
  <xs:import schemaLocation="http://localhost:56172/ComplianceXrefService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="insertActs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="compliance" nillable="true" type="q1:ComplianceXref" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertActsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertActsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="compliance" nillable="true" type="q2:ComplianceXref" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertRulesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="compliance" nillable="true" type="q3:ComplianceXref" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="compliance" nillable="true" type="q4:ComplianceXref" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRulesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complianceid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getlineitems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlineitemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetlineitemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificsection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complianceid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificsectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecificsectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRulesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Branchid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuditorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuditorIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRuleforBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchid" type="xs:int" />
        <xs:element minOccurs="0" name="vendorid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRuleforBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRuleforBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inseretActandRuleforBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgid" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ruleid" nillable="true" type="q5:ArrayOfint" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="vendorid" type="xs:int" />
        <xs:element minOccurs="0" name="compliancetypeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inseretActandRuleforBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inseretActandRuleforBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRuleforBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgid" type="xs:int" />
        <xs:element minOccurs="0" name="vendorid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRuleforBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRuleforBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Audit_Type_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplainceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComplainceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetcomplianceonType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Audit_Type_Id" type="xs:int" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="StateId" type="xs:int" />
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetcomplianceonTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetcomplianceonTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificComplaince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complianceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificComplainceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecificComplainceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplainceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compliancetypeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplainceTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComplainceTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertxreftypemapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="xrefid" nillable="true" type="q6:ArrayOfint" />
        <xs:element minOccurs="0" name="compliancetypeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertxreftypemappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertxreftypemappingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletexreftypemapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compliancetypeid" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="xrefid" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletexreftypemappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletexreftypemappingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXrefComplainceTypemapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compliancetypeid" type="xs:int" />
        <xs:element minOccurs="0" name="complianceid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXrefComplainceTypemappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXrefComplainceTypemappingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>