ComplianceAuditWeb/Connected Services/ComplianceXrefService/ComplianceXrefService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56172/ComplianceXrefService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" />
  <xs:element name="insertActs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="compliance" nillable="true" type="q1:ComplianceXref" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertActsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertActsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="compliance" nillable="true" type="q2:ComplianceXref" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertRulesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="compliance" nillable="true" type="q3:ComplianceXref" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="compliance" nillable="true" type="q4:ComplianceXref" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRulesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplianceXref">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplianceXrefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComplianceXrefResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>