ComplianceAuditWeb/Connected Services/OrgService/OrganizationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56172/OrganizationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" />
  <xs:element name="insertOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q1:Organization" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="company" nillable="true" type="q2:CompanyDetails" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="branch" nillable="true" type="q3:BranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertOrganizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q4:Organization" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="company" nillable="true" type="q5:CompanyDetails" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="branch" nillable="true" type="q6:BranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateOrganizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGroupCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q7:Organization" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="company" nillable="true" type="q8:CompanyDetails" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="branch" nillable="true" type="q9:BranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q10:Organization" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="company" nillable="true" type="q11:CompanyDetails" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="branch" nillable="true" type="q12:BranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q13:Organization" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="branch" nillable="true" type="q14:BranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q15:Organization" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="branch" nillable="true" type="q16:BranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountryListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStateListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCityListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupCompaniesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupCompaniesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGroupCompaniesListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompaniesListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBranchListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateGroupCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateGroupCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateGroupCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateGroupCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateGroupCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateGroupCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>