ComplianceAuditWeb/Connected Services/OrgService/OrganizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrganizationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56172/OrganizationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56172/OrganizationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56172/OrganizationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" />
      <xsd:import schemaLocation="http://localhost:56172/OrganizationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrganizationService_insertOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:insertOrganization" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updateOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:updateOrganization" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updateOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getGroupCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:getGroupCompany" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getGroupCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGroupCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:insertCompany" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:updateCompany" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:insertBranch" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updateBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:updateBranch" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updateBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetCountryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryList" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetCountryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetStateList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStateList" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetStateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetCityList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityList" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetCityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetGroupCompaniesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupCompaniesList" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetGroupCompaniesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupCompaniesListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetCompaniesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesList" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetCompaniesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetBranchList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchList" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetBranchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GeSpecifictCompaniesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GeSpecifictCompaniesList" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GeSpecifictCompaniesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeSpecifictCompaniesListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getGroupCompanyListDropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:getGroupCompanyListDropDown" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getGroupCompanyListDropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGroupCompanyListDropDownResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getGroupOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:getGroupOrganization" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getGroupOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGroupOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getCompanyListDropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:getCompanyListDropDown" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getCompanyListDropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCompanyListDropDownResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getCompanyListsforBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:getCompanyListsforBranch" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getCompanyListsforBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCompanyListsforBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeactivateGroupCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateGroupCompany" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeactivateGroupCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateGroupCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeleteGroupCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupCompany" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeleteGroupCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_ActivateGroupCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateGroupCompany" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_ActivateGroupCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateGroupCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeactivateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateCompany" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeactivateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeleteCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompany" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeleteCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_ActivateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateCompany" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_ActivateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeactivateBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateBranch" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeactivateBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeleteBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBranch" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeleteBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_ActivateBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateBranch" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_ActivateBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:getBranch" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GeSpecifictBranchList_InputMessage">
    <wsdl:part name="parameters" element="tns:GeSpecifictBranchList" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GeSpecifictBranchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeSpecifictBranchListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetVendors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendors" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetVendors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GeSpecifictVendorList_InputMessage">
    <wsdl:part name="parameters" element="tns:GeSpecifictVendorList" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GeSpecifictVendorList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeSpecifictVendorListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetAllVendors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVendors" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetAllVendors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetAllVendorsAssignedForBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVendorsAssignedForBranch" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetAllVendorsAssignedForBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVendorsAssignedForBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:insertVendor" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updateVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:updateVendor" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updateVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:getVendor" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getDefaultCompanyDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getDefaultCompanyDetails" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getDefaultCompanyDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDefaultCompanyDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getorglocation_InputMessage">
    <wsdl:part name="parameters" element="tns:getorglocation" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getorglocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getorglocationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getParticularGroupCompaniesList_InputMessage">
    <wsdl:part name="parameters" element="tns:getParticularGroupCompaniesList" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getParticularGroupCompaniesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParticularGroupCompaniesListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getSpecificBranchListDropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificBranchListDropDown" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getSpecificBranchListDropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificBranchListDropDownResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getSpecificVendorListDropDown_InputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificVendorListDropDown" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getSpecificVendorListDropDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSpecificVendorListDropDownResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetComplianceType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComplianceType" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetComplianceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComplianceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetIndustryType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndustryType" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetIndustryType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndustryTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertcomplianceTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:insertcomplianceTypes" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertcomplianceTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertcomplianceTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updatecomplianceTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:updatecomplianceTypes" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updatecomplianceTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatecomplianceTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetAssignedComplianceTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssignedComplianceTypes" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetAssignedComplianceTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssignedComplianceTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getDefaultIndustryType_InputMessage">
    <wsdl:part name="parameters" element="tns:getDefaultIndustryType" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_getDefaultIndustryType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDefaultIndustryTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeleteCompliance_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompliance" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_DeleteCompliance_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComplianceResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertComplianceTypesMappedWithIndustryType_InputMessage">
    <wsdl:part name="parameters" element="tns:insertComplianceTypesMappedWithIndustryType" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_insertComplianceTypesMappedWithIndustryType_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertComplianceTypesMappedWithIndustryTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updateComplianceTypesMappedWithIndustryType_InputMessage">
    <wsdl:part name="parameters" element="tns:updateComplianceTypesMappedWithIndustryType" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_updateComplianceTypesMappedWithIndustryType_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateComplianceTypesMappedWithIndustryTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetMappedCompliance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMappedCompliance" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetMappedCompliance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMappedComplianceResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetParticularCompliance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParticularCompliance" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetParticularCompliance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParticularComplianceResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrganizationService">
    <wsdl:operation name="insertOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/insertOrganization" message="tns:IOrganizationService_insertOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/insertOrganizationResponse" message="tns:IOrganizationService_insertOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/updateOrganization" message="tns:IOrganizationService_updateOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/updateOrganizationResponse" message="tns:IOrganizationService_updateOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGroupCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getGroupCompany" message="tns:IOrganizationService_getGroupCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getGroupCompanyResponse" message="tns:IOrganizationService_getGroupCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/insertCompany" message="tns:IOrganizationService_insertCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/insertCompanyResponse" message="tns:IOrganizationService_insertCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/updateCompany" message="tns:IOrganizationService_updateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/updateCompanyResponse" message="tns:IOrganizationService_updateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/insertBranch" message="tns:IOrganizationService_insertBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/insertBranchResponse" message="tns:IOrganizationService_insertBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/updateBranch" message="tns:IOrganizationService_updateBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/updateBranchResponse" message="tns:IOrganizationService_updateBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetCountryList" message="tns:IOrganizationService_GetCountryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetCountryListResponse" message="tns:IOrganizationService_GetCountryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetStateList" message="tns:IOrganizationService_GetStateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetStateListResponse" message="tns:IOrganizationService_GetStateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCityList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetCityList" message="tns:IOrganizationService_GetCityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetCityListResponse" message="tns:IOrganizationService_GetCityList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupCompaniesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetGroupCompaniesList" message="tns:IOrganizationService_GetGroupCompaniesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetGroupCompaniesListResponse" message="tns:IOrganizationService_GetGroupCompaniesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompaniesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetCompaniesList" message="tns:IOrganizationService_GetCompaniesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetCompaniesListResponse" message="tns:IOrganizationService_GetCompaniesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBranchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetBranchList" message="tns:IOrganizationService_GetBranchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetBranchListResponse" message="tns:IOrganizationService_GetBranchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeSpecifictCompaniesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GeSpecifictCompaniesList" message="tns:IOrganizationService_GeSpecifictCompaniesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GeSpecifictCompaniesListResponse" message="tns:IOrganizationService_GeSpecifictCompaniesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGroupCompanyListDropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getGroupCompanyListDropDown" message="tns:IOrganizationService_getGroupCompanyListDropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getGroupCompanyListDropDownResponse" message="tns:IOrganizationService_getGroupCompanyListDropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGroupOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getGroupOrganization" message="tns:IOrganizationService_getGroupOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getGroupOrganizationResponse" message="tns:IOrganizationService_getGroupOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCompanyListDropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getCompanyListDropDown" message="tns:IOrganizationService_getCompanyListDropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getCompanyListDropDownResponse" message="tns:IOrganizationService_getCompanyListDropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCompanyListsforBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getCompanyListsforBranch" message="tns:IOrganizationService_getCompanyListsforBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getCompanyListsforBranchResponse" message="tns:IOrganizationService_getCompanyListsforBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateGroupCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/DeactivateGroupCompany" message="tns:IOrganizationService_DeactivateGroupCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/DeactivateGroupCompanyResponse" message="tns:IOrganizationService_DeactivateGroupCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/DeleteGroupCompany" message="tns:IOrganizationService_DeleteGroupCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/DeleteGroupCompanyResponse" message="tns:IOrganizationService_DeleteGroupCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateGroupCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/ActivateGroupCompany" message="tns:IOrganizationService_ActivateGroupCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/ActivateGroupCompanyResponse" message="tns:IOrganizationService_ActivateGroupCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/DeactivateCompany" message="tns:IOrganizationService_DeactivateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/DeactivateCompanyResponse" message="tns:IOrganizationService_DeactivateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/DeleteCompany" message="tns:IOrganizationService_DeleteCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/DeleteCompanyResponse" message="tns:IOrganizationService_DeleteCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/ActivateCompany" message="tns:IOrganizationService_ActivateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/ActivateCompanyResponse" message="tns:IOrganizationService_ActivateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/DeactivateBranch" message="tns:IOrganizationService_DeactivateBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/DeactivateBranchResponse" message="tns:IOrganizationService_DeactivateBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/DeleteBranch" message="tns:IOrganizationService_DeleteBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/DeleteBranchResponse" message="tns:IOrganizationService_DeleteBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/ActivateBranch" message="tns:IOrganizationService_ActivateBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/ActivateBranchResponse" message="tns:IOrganizationService_ActivateBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getBranch" message="tns:IOrganizationService_getBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getBranchResponse" message="tns:IOrganizationService_getBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeSpecifictBranchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GeSpecifictBranchList" message="tns:IOrganizationService_GeSpecifictBranchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GeSpecifictBranchListResponse" message="tns:IOrganizationService_GeSpecifictBranchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendors">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetVendors" message="tns:IOrganizationService_GetVendors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetVendorsResponse" message="tns:IOrganizationService_GetVendors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeSpecifictVendorList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GeSpecifictVendorList" message="tns:IOrganizationService_GeSpecifictVendorList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GeSpecifictVendorListResponse" message="tns:IOrganizationService_GeSpecifictVendorList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVendors">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetAllVendors" message="tns:IOrganizationService_GetAllVendors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetAllVendorsResponse" message="tns:IOrganizationService_GetAllVendors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVendorsAssignedForBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetAllVendorsAssignedForBranch" message="tns:IOrganizationService_GetAllVendorsAssignedForBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetAllVendorsAssignedForBranchResponse" message="tns:IOrganizationService_GetAllVendorsAssignedForBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/insertVendor" message="tns:IOrganizationService_insertVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/insertVendorResponse" message="tns:IOrganizationService_insertVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/updateVendor" message="tns:IOrganizationService_updateVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/updateVendorResponse" message="tns:IOrganizationService_updateVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getVendor" message="tns:IOrganizationService_getVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getVendorResponse" message="tns:IOrganizationService_getVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDefaultCompanyDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getDefaultCompanyDetails" message="tns:IOrganizationService_getDefaultCompanyDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getDefaultCompanyDetailsResponse" message="tns:IOrganizationService_getDefaultCompanyDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getorglocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getorglocation" message="tns:IOrganizationService_getorglocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getorglocationResponse" message="tns:IOrganizationService_getorglocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParticularGroupCompaniesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getParticularGroupCompaniesList" message="tns:IOrganizationService_getParticularGroupCompaniesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getParticularGroupCompaniesListResponse" message="tns:IOrganizationService_getParticularGroupCompaniesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSpecificBranchListDropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getSpecificBranchListDropDown" message="tns:IOrganizationService_getSpecificBranchListDropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getSpecificBranchListDropDownResponse" message="tns:IOrganizationService_getSpecificBranchListDropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSpecificVendorListDropDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getSpecificVendorListDropDown" message="tns:IOrganizationService_getSpecificVendorListDropDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getSpecificVendorListDropDownResponse" message="tns:IOrganizationService_getSpecificVendorListDropDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComplianceType">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetComplianceType" message="tns:IOrganizationService_GetComplianceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetComplianceTypeResponse" message="tns:IOrganizationService_GetComplianceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndustryType">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetIndustryType" message="tns:IOrganizationService_GetIndustryType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetIndustryTypeResponse" message="tns:IOrganizationService_GetIndustryType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertcomplianceTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/insertcomplianceTypes" message="tns:IOrganizationService_insertcomplianceTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/insertcomplianceTypesResponse" message="tns:IOrganizationService_insertcomplianceTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatecomplianceTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/updatecomplianceTypes" message="tns:IOrganizationService_updatecomplianceTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/updatecomplianceTypesResponse" message="tns:IOrganizationService_updatecomplianceTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssignedComplianceTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetAssignedComplianceTypes" message="tns:IOrganizationService_GetAssignedComplianceTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetAssignedComplianceTypesResponse" message="tns:IOrganizationService_GetAssignedComplianceTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDefaultIndustryType">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/getDefaultIndustryType" message="tns:IOrganizationService_getDefaultIndustryType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/getDefaultIndustryTypeResponse" message="tns:IOrganizationService_getDefaultIndustryType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompliance">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/DeleteCompliance" message="tns:IOrganizationService_DeleteCompliance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/DeleteComplianceResponse" message="tns:IOrganizationService_DeleteCompliance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertComplianceTypesMappedWithIndustryType">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/insertComplianceTypesMappedWithIndustryType" message="tns:IOrganizationService_insertComplianceTypesMappedWithIndustryType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/insertComplianceTypesMappedWithIndustryTypeResponse" message="tns:IOrganizationService_insertComplianceTypesMappedWithIndustryType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateComplianceTypesMappedWithIndustryType">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/updateComplianceTypesMappedWithIndustryType" message="tns:IOrganizationService_updateComplianceTypesMappedWithIndustryType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/updateComplianceTypesMappedWithIndustryTypeResponse" message="tns:IOrganizationService_updateComplianceTypesMappedWithIndustryType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMappedCompliance">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetMappedCompliance" message="tns:IOrganizationService_GetMappedCompliance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetMappedComplianceResponse" message="tns:IOrganizationService_GetMappedCompliance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParticularCompliance">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetParticularCompliance" message="tns:IOrganizationService_GetParticularCompliance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetParticularComplianceResponse" message="tns:IOrganizationService_GetParticularCompliance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrganizationService" type="tns:IOrganizationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertOrganization">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/insertOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateOrganization">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/updateOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupCompany">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getGroupCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCompany">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/insertCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCompany">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/updateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertBranch">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/insertBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBranch">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/updateBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryList">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetCountryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateList">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetStateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityList">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetCityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupCompaniesList">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetGroupCompaniesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompaniesList">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetCompaniesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchList">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetBranchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSpecifictCompaniesList">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GeSpecifictCompaniesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupCompanyListDropDown">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getGroupCompanyListDropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroupOrganization">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getGroupOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyListDropDown">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getCompanyListDropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyListsforBranch">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getCompanyListsforBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateGroupCompany">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/DeactivateGroupCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupCompany">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/DeleteGroupCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateGroupCompany">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/ActivateGroupCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateCompany">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/DeactivateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/DeleteCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateCompany">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/ActivateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateBranch">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/DeactivateBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBranch">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/DeleteBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateBranch">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/ActivateBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBranch">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSpecifictBranchList">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GeSpecifictBranchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendors">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSpecifictVendorList">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GeSpecifictVendorList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVendors">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetAllVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVendorsAssignedForBranch">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetAllVendorsAssignedForBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertVendor">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/insertVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVendor">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/updateVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVendor">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDefaultCompanyDetails">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getDefaultCompanyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getorglocation">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getorglocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParticularGroupCompaniesList">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getParticularGroupCompaniesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecificBranchListDropDown">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getSpecificBranchListDropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecificVendorListDropDown">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getSpecificVendorListDropDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComplianceType">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetComplianceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndustryType">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetIndustryType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertcomplianceTypes">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/insertcomplianceTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatecomplianceTypes">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/updatecomplianceTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignedComplianceTypes">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetAssignedComplianceTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDefaultIndustryType">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/getDefaultIndustryType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompliance">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/DeleteCompliance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertComplianceTypesMappedWithIndustryType">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/insertComplianceTypesMappedWithIndustryType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateComplianceTypesMappedWithIndustryType">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/updateComplianceTypesMappedWithIndustryType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMappedCompliance">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetMappedCompliance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticularCompliance">
      <soap:operation soapAction="http://tempuri.org/IOrganizationService/GetParticularCompliance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrganizationService">
    <wsdl:port name="BasicHttpBinding_IOrganizationService" binding="tns:BasicHttpBinding_IOrganizationService">
      <soap:address location="http://localhost:56172/OrganizationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>