ComplianceAuditWeb/Connected Services/OrgService/OrganizationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Compliance.DataObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Organization">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Company_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Industry_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Is_Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Is_Delete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Is_Leaf" type="xs:boolean" />
      <xs:element minOccurs="0" name="Is_Vendor" type="xs:boolean" />
      <xs:element minOccurs="0" name="Last_Updated_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Organization_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Parent_Company_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="logo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organization" nillable="true" type="tns:Organization" />
  <xs:complexType name="CompanyDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auditing_Frequency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Calender_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Calender_StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Company_ContactNumber1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_ContactNumber2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_Details_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Company_EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Compliance_Audit_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Formal_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Is_Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Org_Hier_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyDetails" nillable="true" type="tns:CompanyDetails" />
  <xs:complexType name="BranchLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_Coordinates1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_Coordinates2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_CoordinatesURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Branch_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Country_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Org_Hier_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Postal_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchLocation" nillable="true" type="tns:BranchLocation" />
</xs:schema>