ComplianceAuditWeb/Connected Services/OrgService/OrganizationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56172/OrganizationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Compliance.DataObject" />
  <xs:element name="insertOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q1:Organization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertOrganizationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q2:Organization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateOrganizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGroupCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q3:Organization" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="company" nillable="true" type="q4:CompanyDetails" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="branch" nillable="true" type="q5:BranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCompanyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q6:Organization" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="company" nillable="true" type="q7:CompanyDetails" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="branch" nillable="true" type="q8:BranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q9:Organization" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="branch" nillable="true" type="q10:BranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertBranchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q11:Organization" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="branch" nillable="true" type="q12:BranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountryListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStateListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCityListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupCompaniesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupCompaniesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGroupCompaniesListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompaniesListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBranchListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeSpecifictCompaniesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeSpecifictCompaniesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeSpecifictCompaniesListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupCompanyListDropDown">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupCompanyListDropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGroupCompanyListDropDownResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGroupOrganizationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyListDropDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupcompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyListDropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCompanyListDropDownResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyListsforBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyListsforBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCompanyListsforBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateGroupCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateGroupCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateGroupCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateGroupCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateGroupCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateGroupCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateBranchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeSpecifictBranchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeSpecifictBranchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeSpecifictBranchListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVendorsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeSpecifictVendorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeSpecifictVendorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeSpecifictVendorListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVendors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVendorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllVendorsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVendorsAssignedForBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchVendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVendorsAssignedForBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllVendorsAssignedForBranchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q13:Organization" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="company" nillable="true" type="q14:CompanyDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertVendorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="org" nillable="true" type="q15:Organization" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Compliance.DataObject" minOccurs="0" name="company" nillable="true" type="q16:CompanyDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateVendorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getVendorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDefaultCompanyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDefaultCompanyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDefaultCompanyDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getorglocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getorglocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getorglocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParticularGroupCompaniesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrgID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParticularGroupCompaniesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getParticularGroupCompaniesListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificBranchListDropDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificBranchListDropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSpecificBranchListDropDownResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificVendorListDropDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecificVendorListDropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSpecificVendorListDropDownResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>