ComplianceAuditWeb/Connected Services/ReportingService/ReportingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56172/ReportingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56172/ReportingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportingService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IReportingService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IReportingService_getBranchReport_InputMessage">
    <wsdl:part name="parameters" element="tns:getBranchReport" />
  </wsdl:message>
  <wsdl:message name="IReportingService_getBranchReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBranchReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportingService_getBranchStatusReport_InputMessage">
    <wsdl:part name="parameters" element="tns:getBranchStatusReport" />
  </wsdl:message>
  <wsdl:message name="IReportingService_getBranchStatusReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBranchStatusReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportingService_getBranchRACTeport_InputMessage">
    <wsdl:part name="parameters" element="tns:getBranchRACTeport" />
  </wsdl:message>
  <wsdl:message name="IReportingService_getBranchRACTeport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBranchRACTeportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportingService_getBranchStatusACTReport_InputMessage">
    <wsdl:part name="parameters" element="tns:getBranchStatusACTReport" />
  </wsdl:message>
  <wsdl:message name="IReportingService_getBranchStatusACTReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBranchStatusACTReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportingService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportingService/DoWork" message="tns:IReportingService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportingService/DoWorkResponse" message="tns:IReportingService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBranchReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportingService/getBranchReport" message="tns:IReportingService_getBranchReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportingService/getBranchReportResponse" message="tns:IReportingService_getBranchReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBranchStatusReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportingService/getBranchStatusReport" message="tns:IReportingService_getBranchStatusReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportingService/getBranchStatusReportResponse" message="tns:IReportingService_getBranchStatusReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBranchRACTeport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportingService/getBranchRACTeport" message="tns:IReportingService_getBranchRACTeport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportingService/getBranchRACTeportResponse" message="tns:IReportingService_getBranchRACTeport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBranchStatusACTReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportingService/getBranchStatusACTReport" message="tns:IReportingService_getBranchStatusACTReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportingService/getBranchStatusACTReportResponse" message="tns:IReportingService_getBranchStatusACTReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportingService" type="tns:IReportingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IReportingService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBranchReport">
      <soap:operation soapAction="http://tempuri.org/IReportingService/getBranchReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBranchStatusReport">
      <soap:operation soapAction="http://tempuri.org/IReportingService/getBranchStatusReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBranchRACTeport">
      <soap:operation soapAction="http://tempuri.org/IReportingService/getBranchRACTeport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBranchStatusACTReport">
      <soap:operation soapAction="http://tempuri.org/IReportingService/getBranchStatusACTReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingService">
    <wsdl:port name="BasicHttpBinding_IReportingService" binding="tns:BasicHttpBinding_IReportingService">
      <soap:address location="http://localhost:56172/ReportingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>