ComplianceAuditWeb/Connected Services/ReportingService/ReportingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchID" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ComplianceID" type="xs:int" />
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBranchReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchStatusReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchID" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ComplianceID" type="xs:int" />
        <xs:element minOccurs="0" name="VendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchStatusReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBranchStatusReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchRACTeport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchRACTeportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBranchRACTeportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchStatusACTReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchID" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchStatusACTReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBranchStatusACTReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchpieReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BranchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchpieReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBranchpieReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>